* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {

    justify-content: space-between;
}

nav {

    height: calc(100vh - 100px);
    width: 200px;
    background-color: black;
    padding: 1rem;
    color: white;
   

}

div.dashboard {
    width: 100%;
    
   
}

div.dashboard img {
    width: 80%;
}

ul {
    list-style-type: none;
    color: lightgray;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


nav ul li {

    margin-top: .5rem;
}

nav h3 {
    font-size: .8rem;
    margin-bottom: 1rem;
}



div.footer {

    width: 100%;
   
    
    align-self: flex-end;
   
   

    
}





section.contents {
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    background-color: #141922;
    overflow: scroll;

}

footer {
    height: 100px;
    width: 100%;
    background-color: blue;
}

div.button {

    justify-content: end;
    height: 100px;
    width: 100%;
    background-color: black;
}

div.list {

    height: 50px;
    width: 100%;
    background-color: blueviolet;
    
}


div.small-box {

    
    width: calc(100% / 6 - 2rem);
   

    margin-right: 2rem;
    margin-top: 20px;
    
}


div.small-box img {

    width: 100%;
}

section.albums {

    padding: 20px;
}

section.albums h2 {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}


div.h2 {
    width: 100%;
    
}

div.round-box {

    height: 180px;
    width: 180px;
    background-color: red;
    border-radius: 50%;
    margin-right: 2rem;
    margin-top: 2rem;
}

div.third-box {

    height: 100%;
    width: 20%;
    background-color: green;
}


@media screen and (max-width: 992px) {

    div.small-box {
        width: calc(100% / 4 - 2rem);
    }
    
}


@media screen and (max-width: 768px) {

    div.small-box {
        width: calc(100% / 2 - 2rem);
    }
    
  

  

}


@media screen and (max-width: 576px) {

    nav {
        width: 100px;
    }

    section.contents {
        width: calc(100% - 100px);

    }

   

}